@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Italianno&display=swap');

:root{
    --cor0: #559BD9;
    --cor1: #6074A1;
    --cor2: #0E3A73;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'android', Times, serif;
}

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf');
    format('opentype');
    
}
/* font-weight: bold;    negrito*/
/*p, h1, h2, h3, h4 ao inves disso usar (*) seleciona todos elementos*/
* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content:  '\00A0\1F517';

}

header {
    background-color: var(--cor2);
    color: white;
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2))
}

header p {
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

h1 {
    font-family: var(--fonte-destaque);
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.315);
}

nav a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s; /*Transiçao qnd passar mouse por cima demora x segundos*/
}

a:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

main {
    background-color: white; 
    padding: 10px; /*acochoamento*/
    min-width: 300px;
    max-width: 1000px;
    margin: auto; /*centralizar*/
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    border-radius: 0px 0px 10px 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /*recuo no paragrafo*/
    line-height: 1.7em; /*espaço entre linhas*/
}

main strong {
    color: var(--cor1);
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor2);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
    background-color: var(--cor0);
}

img {
    display: block;
    margin: auto;
}

main img{
    width: 100%;
}

.pequena{
    max-width: 350px;
}

h2 {
    color: var(--cor2);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
}

h3 {
    color: var(--cor2);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor0), transparent)           
}

/*video centralizado abaixo*/
div.video {
    background-color: var(--cor2);
    margin-bottom: 30px;
    margin: 0px -10px 30px -10px;
    padding: 10px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
/*video centralizado acima */
aside {
    background-color: var(--cor1); 
    padding: 10px; /*acochoamento*/
    margin: 10px; /*centralizar*/
    border-radius: 15px; /*pontas arredondadas*/
    box-shadow: 2px 2px 2px 1px #0e3a7348; /*sombra*/
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /*emoji -- 00A0 = espaço (nao e compativel com todo navegador)*/
    list-style-position: inside;
    columns: 2; /*colunas*/
    
}

h4 {
    color: white;
    background-color: var(--cor2);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 15px 15px 0px 0px;
}

footer {
    background-color: var(--cor2);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 2px 2px;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor0);
    background-color: white;
    
}
